#main-content {
}
.experiments-layout {
    display: grid;
    margin: 7rem auto;
    grid-gap: 2rem;
    max-width: 80rem;
    grid-template-columns: repeat(3, 25%);
    justify-content: center;
}

.experiment-block a {
    display:grid;
}

.experiment-icon {
    margin: 0;
    width: 100%;
}

.disabled {
    opacity: 0.2;
}

ellipse#inside {
    -webkit-animation: 16s inner-circle linear infinite;
    animation: 16s inner-circle linear infinite;
    transform-origin: 92px;
}

@keyframes inner-circle {
    from {
        transform: rotate(0deg) rotate(0deg);
    }
    to {
        transform: rotate(360deg) rotate(360deg);
    }

}

@media all and (max-width: 1080px) {
    .experiments-layout {
        grid-template-columns: repeat(2, 44%);
        grid-gap: 1rem;
    }
}