.home-content {
    display: block;
    height: 100vh;
}

.video {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index:-9999;
}

.manifesto {
    background: red;
}