.manifesto-content-layout {
    max-width: 50rem;
    width: 80%;
    margin: 10rem auto;
    padding-left: 4rem;
}

.manifesto-content-layout ul {
    margin-left: 4rem;
    margin-right: 6rem;
    line-height: 1.8rem;
    list-style-type: decimal;
}

.stones {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}

@media all and (max-width: 1080px) {
    .manifesto-content-layout {
        max-width: 80%;
    }

    .manifesto-content-layout ul {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}
