.thumbs {
    position: absolute;
    top: 1rem;
    margin-top: 13rem;
    right: 12rem;
    width: 20rem;
}

.thumb {
    /* height: 12rem; */
    margin-bottom: 1rem;
    overflow: hidden;
}

.thumb img {
    margin: 0;
    max-width: 100%;
}

.hola {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: red;
    opacity: 0.5;
}
